<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <title>new case page</title>
  </head>
  <body>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">所在法院</th>
          <th scope="col">案號</th>
          <th scope="col">標的類型</th>
          <th scope="col">標的位置</th>
          <th scope="col">拍賣日期<br />排賣次數</th>
          <th scope="col">拍賣坪數</th>
          <th scope="col">拍賣價格</th>
          <th scope="col">第幾拍</th>
          <th scope="col">點交</th>
        </tr>
      </thead>
      <tbody>
        {% for item in list %}
        <tr>
          <th scope="row">{{item[0]}}</th>
          <td>{{item[1]}}</td>
          <td>
            <a href="{{item[10]}}" class="link-primary" target="__blank"
              >{{item[2]}}</a
            >
          </td>
          {% if item[3] == 'C51' %}
          <td>土地</td>
          {% elif item[3] == 'C52' %}
          <td>建物</td>
          {% endif %}
          <td>{{item[4]}}</td>
          <td>{{item[7]}}<br />{{item[8]}}</td>
          <td>{{item[6]}}</td>
          <td>{{item[5]}}</td>
          <td>{{item[8]}}</td>
          <td>{{item[9]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{changeList}}
  </body>
</html>
